html, body {
  height: 100%;
  background-color: blueviolet;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-flex {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}