<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H2HH</title>
</head>
<body>
    <form method="POST">
        <select name="council" id="council">
            <option value="E07000085">East Hampshire District</option>
            <option value="E07000207">Elmbridge District</option>
            <option value="E07000116">Tunbridge Wells District</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>